@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --amethyst-50: #fbf4ff;
    --amethyst-100: #f5e9fe;
    --amethyst-200: #ebd2fc;
    --amethyst-300: #dfaef9;
    --amethyst-400: #cc7ef4;
    --amethyst-500: #ae3ee6;
    --amethyst-600: #9a2dcc;
    --amethyst-700: #8222a9;
    --amethyst-800: #6c1e8a;
    --amethyst-900: #5c1e71;
    --amethyst-950: #39074b;

    --scorpion-50: #f7f7f8;
    --scorpion-100: #efefef;
    --scorpion-200: #dbdbdc;
    --scorpion-300: #bdbbbe;
    --scorpion-400: #9a959b;
    --scorpion-500: #7d787f;
    --scorpion-600: #5d595e;
    --scorpion-700: #535054;
    --scorpion-800: #474448;
    --scorpion-900: #3e3c3e;
    --scorpion-950: #282829;

    --woodsmoke-50: #f7f7f8;
    --woodsmoke-100: #efeef0;
    --woodsmoke-200: #dcd9de;
    --woodsmoke-300: #bbb7c2;
    --woodsmoke-400: #978fa1;
    --woodsmoke-500: #7a7285;
    --woodsmoke-600: #645c6d;
    --woodsmoke-700: #514b59;
    --woodsmoke-800: #45404c;
    --woodsmoke-900: #3d3941;
    --woodsmoke-950: #0e0d0f;

    /* SHADCN */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
