#orbit-XL .stroke-1 {
  stroke-width: 30px;
  stroke: var(--amethyst-100);
  z-index: -9999;
}

#orbit-LG .stroke-1 {
  stroke-width: 24px;
  stroke: var(--amethyst-100);
}

#orbit-MD .stroke-1 {
  stroke-width: 18px;
  stroke: var(--amethyst-100);
}

#orbit-SM .stroke-1 {
  stroke-width: 15px;
  stroke: var(--amethyst-100);
}

#orbit-XS .stroke-1 {
  stroke-width: 12px;
  stroke: var(--amethyst-100);
}

html.dark #orbit-XL .stroke-1,
html.dark #orbit-LG .stroke-1,
html.dark #orbit-MD .stroke-1,
html.dark #orbit-SM .stroke-1,
html.dark #orbit-XS .stroke-1 {
  stroke: var(--woodsmoke-900);
}

.orbit-circle {
  z-index: 99;
}
